doctype html
html
  head
    title= "Mission"+ id
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(href='/css/form.css', rel='stylesheet')
    link(href='/css/foundation.css', rel='stylesheet')
    link(href='/css/app.css', rel='stylesheet')
  body
    h1="Mission"+ id
    //-ul(class='form-style-1')
      li
        input(type='number' name='channel' placeholder='Channel' class='field-divided') 
        | #{' '}
        input(type='number' name='frequency' placeholder='Frequency' class='field-divided')
      li
        input(type='number' name='volume' placeholder='Volume' class='field-long')
      li
        input(type='text' name='name' placeholder='Name' class='field-long')

    form(method='POST' action='.')
      div(class='row')
        div(class='small-2 columns')
          label Mach Warning Limit
            input(type='number' name='mach' placeholder='eg 0.1' min=0 max=5 step=0.1 value=0.1)
        div(class='small-2 columns')
          label G Warning Limit
             input(type='number' name='g' placeholder='eg 8.0' min=0 max=9 step=0.1)
        div(class='small-2 columns')
          label Altitude Warning (Feet)
          input(type='number' name='alt' placeholder='eg 500\'' min=0 max=80000 step=500)
        div(class='small-6 columns')
      
      div(class='row')    
        div(class='small-4 columns')
          label Configuration

          input(type='radio' name='targets' value='Red' id='red') 
          label(for='red') Red

          input(type='radio' name='targets' value='Green' id='green') 
          label(for='green') Green

          input(type='radio' name='targets' value='All' id='all') 
          label(for='all') All
        
        div(class='small-4 columns')
          label Some Options
          input(type='checkbox' name='enable-warnings' id='enable-warnings')
          label(for='enable-warnings') Enable Warninngs

          input(type='checkbox' name='extended-duration' id='extended-duration')
          label(for='extended-duration') Extended Duration
        div(class='small-2 columns')

      div(class='row')
        fieldset(class='fieldset')
          legend Secret Location
          div(class='small-4 columns')
          
            label Latitude (HDD'MM.MMM)
              //-The pattern needs some improvment as N99'99.999 is not a valid latitude
              input(type='text' name='' placeholder='eg N32\'12.345' pattern="[neNE]\\d{2}[']\\d{2}[.]\\d{3}" required='true')
          div(class='small-4 columns')
            label Longitutde (HDD'MM.MMMM)
              input(type='text' name='' placeholder='eg S32\'12.345' pattern="[swSW]\\d{2}[']\\d{2}[.]\\d{3}" required='true')
          div(class='small-4 columns')
      
      div(class='row')
        div(class='small-12 columns')
          label Fighter AC
            select
              option(values='f-14') F-14
              option(values='f-15') F-15
              option(values='f-16') F-16
              option(values='f-18') F/A-18
              option(values='mig-33') Mig-32
              option(values='su-35') Su-35

      div(class='row')
        div(class='small-1 columns')
          input(type='Submit' value='Save')
        div(class='small-11 columns')
      
    script(src='js/vendor/jquery.js')
    script(src='js/vendor/what-input.js')
    script(src='js/vendor/what-input.js')
    script(src='js/app.js')
